#!/usr/bin/make -f

export GEM2DEB_TEST_RUNNER = --check-dependencies
export DH_RUBY = --gem-install
export DH_RUBY_GEM_INSTALL_EXCLUDE = ports/*

%:
	dh $@ --buildsystem=ruby --with ruby

execute_before_dh_installdocs:
	kramdown FAQ.md > FAQ.html

execute_after_dh_clean:
	rm -f FAQ.html 
